.gpt3__cta {
    background: var(--gradient-bar);
    margin: 4rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
    Border: 1px solid ;
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;    

}

.gpt3__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;

}
.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gpt3__cta-btn  button {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 40px;
    padding: 0.5rem 1rem ;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }
    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        margin: 4rem 2rem;
    }
    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }
    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}
